<%# 
  Display a single slot
  render :partial => "slots/show", 
         :locals => {:slot => @my_slot}
-%>
<tr class='slot <% if slot.expired? %>expired-slot<% end %> <% if slot.cancelled %>cancelled-slot<%end%>' data-slot="<%= slot.hashed_id %>" >
	<td class='collapse-icon' ><% if slot.subjects.count > 0 %><div class="icon collapse-icon collapsed" data-collapse-element-id="slot-participants-<%= slot.hashed_id %>" title="Show Details" data-alt-title="Hide Details"> </div><% end %></td>
  	<td><%= slot.human_date %></td>
	<td><span class="title"><%= slot.human_time %></span></td>
	<td class='<% if slot.empty? %>open<% end %>'>
		<% unless slot.empty? %>
			<span class="title"><%= slot.subjects.count %></span> participant<%= 's' if slot.subjects.count > 1 %>
			<% else %>
			empty
		<% end %>
	</td>
	<td class="last-child">
		<% if slot.empty? %>
		<span class="icon destroy-icon <% if slot.expired? %>disabled<% end %>" data-destroy-url="<%= slot_path(slot) %>.json" data-destroy-title="Delete <%= slot.human_date %>, <%= slot.human_time %>?" data-labcog-mapping="slot.destroy" title="Delete"> </span>
		<% elsif slot.cancelled? %>
		<span class="icon cancelled-icon" title="Cancelled"> </span>
		<% else %>
		<span class="icon cancel-icon <% if slot.expired? %>disabled<% end %>" data-destroy-url="<%= cancel_slot_path(slot) %>.json" data-destroy-title="Cancel <%= slot.human_date %>, <%= slot.human_time %>?" data-labcog-mapping="slot.cancel" title="Cancel"> </span>
		<% end %>
		</td>
</tr>
<tr id="slot-participants-<%= slot.hashed_id %>" data-slot="<%= slot.hashed_id %>" style="display:none">
	<td></td>
<td colspan=5 >
	<div class="participants">
	<% slot.subjects.each do |subject| %>
		<div class="participant">
		<span class="name"><%= subject.name %></span>
		<div class="details">
		<%= mail_to(subject.email, nil, {:encode => :javascript}) %><br />
		<%= number_to_phone(subject.phone_number) %>
		</div>
		</div>
	<% end %>
	</div>
</td>
</tr>