<%# 
  Display a single slot
  render :partial => "slots/show", 
         :locals => {:slot => @my_slot}
-%>
<tr class='slot <% if slot.expired? %>expired-slot<% end %>' data-slot="<%= slot.hashed_id %>" >
	<td class='collapse-icon' ><% if slot.subjects.count > 0 %><div class="icon collapse-icon collapsed" data-collapse-element-id="slot-participants-<%= slot.hashed_id %>" > </div><% end %></td>
  	<td><% if slot.cancelled %><s><%= slot.human_date %></s><% else %><%= slot.human_date %><% end %></td>
	<td><span class="title"><%= slot.human_time %></span></td>
	<td class='<% if slot.empty? %>open<% end %>'>
		<% unless slot.empty? %>
			<span class="title"><%= slot.subjects.count %></span> participant<%= 's' if slot.subjects.count > 1 %>
			<% else %>
			empty
		<% end %>
	</td>
    <td>
		<span class="icon edit-icon <% if slot.expired? %>disabled<% end %>"> </span>
		<% if slot.empty? %>
		<span class="icon destroy-icon <% if slot.expired? %>disabled<% end %>" data-destroy-url="<%= slot_path(slot) %>" data-destroy-title="Delete <%= slot.human_date %>, <%= slot.human_time %>?" data-labcog-mapping="labcog.sch.slotDestroyFn"> </span>
		<% else %>
		<span class="icon cancel-icon <% if slot.expired? %>disabled<% end %>" data-destroy-url="<%= cancel_slot_path(slot) %>" data-destroy-title="Cancel <%= slot.human_date %>, <%= slot.human_time %>?" data-labcog-mapping="labcog.sch.slotCancelFn"> </span>
		<% end %>
		</td>
</tr>
<tr id="slot-participants-<%= slot.hashed_id %>" data-slot="<%= slot.hashed_id %>" style="display:none">
	<td></td>
<td colspan=5 >
	<div class="participants">
	<% slot.subjects.each do |subject| %>
		<div class="participant">
		<%= subject.name %>
		<%= subject.email %>
		<%= number_to_phone(subject.phone_number) %>
		</div>
	<% end %>
	</div>
</td>
</tr>