<%# 
  Display slots for an experiment
  render :partial => "slots/slot_table", 
         :locals => {:slots => @slots_in_experiment, :experiment => @my_experiment}
-%>
<% num_filled = 0 
   num_subjects = 0
	# The CS in me cries at how inefficient this is, esp since it's already date-sorted...
   open_slots = slots.select{|slot| !slot.expired? }
   expired_slots = slots.select{|slot| slot.expired? }
   for slot in slots
	num_filled += 1 if slot.filled?
    num_subjects += slot.subjects.count
   end
%>
<div id="participants-pb" class="progress-bar"></div>
<div class="progress-bar-details" %><%= num_subjects %> participant<% if num_subjects > 1 %>s<% end %> signed up, <%= experiment.num_subjects - num_subjects %> still needed</div>
<div>
<div class="title" style="float:left; margin-right: 6px">Past</div><input type="checkbox" class="toggle" autocomplete="off" id="expired-slots-toggle" data-unchecked-label ="Hide" data-checked-label="Show" style="float:left"/>
	</div>
	<br style="clear:both" />
<table id="slots">

<thead>
	
</thead>
<tbody class="expired" style="display:none">
<% expired_slots.each do |slot| %>
	  <%= render(:partial => "slots/show", :locals => {:slot => slot})%>
	<% end %>
</tbody>
<tbody class="open">
<% open_slots.each do |slot| %>
  <%= render(:partial => "slots/show", :locals => {:slot => slot})%>
<% end %>
</tbody>
</table>
<% content_for(:deferred_js) do %>
$("input#expired-slots-toggle").bind('change',function(){
	$("table#slots tbody.expired").slideToggle();
});
$("div#participants-pb").progressbar({value: <%= (num_subjects.to_f / experiment.num_subjects.to_f)*100 %> });
$('div#destroy-dialog').dialog({modal:true, autoOpen: false, minWidth: 325});
$('div#cancel-dialog').dialog({modal:true, autoOpen: false, minWidth: 325});
<% end  %>
<% content_for(:deferred_nonlive_js) do %>
labcog.sch.slotDestroySuccess = function(data, status, xhr){
	$('[data-'+data[0]+'="'+data[1]+'"]').remove();
}
labcog.sch.slotDestroyError = function(){
	console.error("Error destroying slot");
}
labcog.sch.slotCancelSuccess = function(data,status,xhr){
	var element = $('tr.slot[data-'+data[0]+'="'+data[1]+'"]');
	var cancelIcon = element.find('span.cancel-icon');
	cancelIcon.replaceWith('<span class="cancelled-icon icon"> </span>')
	element.addClass('cancelled-slot');
	element.effect('highlight', {}, 3000);
}
labcog.sch.slotCancelError = function(){
	console.error("Error Cancel");
}

labcog.sch.slotDestroyFn = {
	success:labcog.sch.slotDestroySuccess,
	error:labcog.sch.slotDestroyError,
	dialog:"destroy-dialog"
}

labcog.sch.slotCancelFn = {
	success:labcog.sch.slotCancelSuccess,
	error:labcog.sch.slotCancelError,
	dialog:"cancel-dialog"
}

<% end %>
<div class="dialog" id="destroy-dialog" title="Delete?">
<p>Do you want to delete this time slot? If you do so, it will not be available to participants who try to sign up for your experiment.</p>
</div>
<div class="dialog" id="cancel-dialog" title="Cancel?">
<p>If you cancel this time slot, all participants signed up will be notified the time slot has been cancelled and they will be given an opportunity to sign up for another time.</p>
</div>