<div class="column-left" style="width:50%">
<div class="slots">
	<% subjects_count = @experiment.subjects_count	%>
	<div id="participants-pb" class="progress-bar"></div>
	<div class="progress-bar-details" %><%= subjects_count %> participant<% if subjects_count == 1 %>s<% end %> signed up, <%= @experiment.num_subjects - subjects_count %> still needed</div>
	<h2>Slots</h2>
	<%= render :partial => '/slots/form', :locals => {:experiment => @experiment} %>
	<br />
	<%= render :partial => '/slots/slot_table', :locals => {:slots => @experiment.slots, :experiment => @experiment} %>
</div>
</div>
<div class="column-right" style="width:45%">
	<h2>Info</h2>
<div class="detail"><span class="title">Compensation:</span> $<%= @experiment.compensation %></div>
<div class="detail"><span class="title">Time per slot:</span> <%= @experiment.human_time_length %></div>
<div class="detail"><span class="title">Max # of participants: </span><%= @experiment.num_subjects %></div>
<div class="detail"><span class="title">Max # of participants per slot: </span><%= @experiment.num_subjects_per_slot %></div>
<div class="detail"><span class="title">Automatically close a slot if it starts within</span> <%= @experiment.slot_close_time %> mins</div>
<div class="detail"><span class="title">Contact:</span> <%= @experiment.user.email %></div>
<div class="detail"><span class="title">Location:</span> <%= @experiment.location.human_location if @experiment.location != nil %></div>
<div class="detail"><span class="title">Calendar:</span> <%= @experiment.google_calendar.name if @experiment.google_calendar != nil %></div>
<div class="detail"><span class="title">Open?</span> <% if @experiment.open %><span class="open">YES</span>, participants can signup<% else %><span class="closed">NO</span>, participants cannot see or signup.<% end %></div>
<div class="title">Description</div>
<div class="desc" style="padding:10px; border: 1px dashed #cacaca"><%= markdown(@experiment.desc) %></div>
<br/>
<div><%= link_to 'Preview signup page', :action=>:participate, :id => @experiment.hashed_id %></div><br />
<div><%= link_to 'Preview confirmation page', :controller => :subjects, :action=>:dummy_confirmation, :id => @experiment.hashed_id %></div>
</div>
<% content_for(:deferred_js) do %>
<% subjects_percent = (subjects_count.to_f / @experiment.num_subjects.to_f)*100
   subjects_percent = 2.0 if subjects_percent < 2.0
 %>
$("div#participants-pb").progressbar({value: <%= subjects_percent %> });
<% end  %>