<%= render :partial => '/helpers/header' %>
<body>
<div id="header-wrapper">
<div class="application" id="header">
<a class="banner" href="/"><div id="banner" class="tk-header">Lab Cog <span class="text-style:italic">Scheduler</span></div></a>
	<div class="tabs">
		<div id="current_user"><%= current_user.user_name if current_user %></div>	
		<ul>
			<li id="help"><a href="/help" title="Get Help"><div>Help</div></a></li>
			<li id="signin"><a href="<%= (user_signed_in?) ? destroy_user_session_path : new_user_session_path %>" /><div><%= (user_signed_in?) ? "Sign out" : "Sign in" %></div></a>
			</li>
		</ul>
	</div>
	</div>
</div>
<div id="top-tray">
	<div class="page-title" ><%= sanitize(page_title) %></div>
</div>
<br style="clear:both"/>
<div id="content-wrapper">
<div id="content" class="external">
  <%= yield %>
</div>
<br style="clear:both" />
</div>
<%= render(:partial => 'helpers/footer') %>
</html>