<%= render :partial => '/helpers/header' %>
<body>
<div id="header-wrapper">
<div class="application" id="header">
	<div id="banner" style="background: url('/images/logo.png') left top no-repeat;">Lab Cog!</div>
	<div class="messages">
		<% if notice %><div class="notice"><%= notice %></div><% end %>
	 	<% if alert %><div class="alert"><%= alert %></div><% end %>
	</div>
	<div class="tabs">
		<div id="current_user"><%= current_user.user_name if current_user %></div>	
		<ul>
			<a href="/help"><li>Help</li></a>
			<li><%= link_to('Sign out', destroy_user_session_path)  %></li>
		</ul>
	</div>
	</div>
</div>
<div id="top-tray">
	<div class="page-title" ><%= sanitize(page_title) %></div>
</div>
<br style="clear:both"/>
<div id="content-wrapper">
<div id="content" class="external">
  <%= yield %>
</div>
<br style="clear:both" />
</div>
<%= render(:partial => 'helpers/footer') %>
</html>